<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>productos</h1>
	<br><br>
	<table>
		{% for dato in datos %}
			{% for clase in dato %}
				<tr>
					<td>{{ clase[0] }}</td>
				</tr>
				{% for subclase in clase[1] %}
					<tr>
						<td>....{{ subclase[0] }}</td>
					</tr>
					{% for producto in subclase[1] %}
						<tr>
							<td>........{{ producto[0] }}</td>
						</tr>
						{% for detalle in producto[1] %}</h2>
							<tr>
								<td>............{{ detalle[0] }} -- {{ detalle[1] }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
				{% endfor %}
			{% endfor %}
		{% endfor %}    
	</table>
</body>
</html>
